.cities {
    margin: 10px;
}

#search-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navb {
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-text {
    font-size: 40px;
}

.card {
    margin-top: 25px;
    margin-right: 70px;
    
}

#clear-history {
    margin: 7px;
}

#bottom-row {
    margin-left: 210px;
}